* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: aquamarine;
}
h1{
    text-transform: uppercase;
    text-align: center;
    margin-top:2%;
    color: rgb(11, 11, 95);
}
.calc{
    background-color:rgb(197, 131, 131);
    width: 35%;
    margin: auto;
    margin-top: 3%;
    height: 80vh;
    border-radius: 20px;
}
.main{
margin: 20px;
}
input{
    height: 15vh;
    width:100%;
    border: none;
    background-color:rgb(235, 247, 252);
    margin-top: 25px;
    font-size: 50px;
    color: rgb(10, 10, 10);
    text-align: right;
    border-radius: 10px;
}
.button{
 display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
  /* margin: 20px; */
  /* padding-top: 20px; */
}
button{
  font-size: 20px;
  padding: 20px;
  border: none;
  /* background-color: #f69906; */
  /* color: #ffffff; */
  cursor: pointer;
  border-radius: 10px;
}
.equal{
grid-row: span 2;
}
.dot{
    grid-column: span 2;
}
@media (min-width: 481px) and (max-width: 1400px) {
  .calc {
    width: 420px;
    height: 500px;
  }

  input {
    font-size: 40px;
    height: 95px;
  }

  button {
    font-size: 20px;
    padding: 14px;
  }
}

/* -------------------- MOBILE -------------------- */
@media (max-width: 480px)  {
  h1 {
    font-size: 25px;
  }

  .calc {
    width: 95%;
    border-radius: 15px;
    height: 430px;
  }

  input {
    font-size: 26px;
    height: 90px;
  }

  .button {
    gap: 12px;
  }

  button {
    font-size: 16px;
    padding: 13px;
  }
}